<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目列表</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/project_list.css' %}">
</head>
<body>
    <div class="container">
        <h1>项目列表</h1>

        <!-- 添加项目的基本样式按钮 -->
        <button type="button" onclick="window.location.href='{% url 'create_project' %}';">+ 新增项目</button>

        {% for project in projects %}
            <div class="project">
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                <a href="{{ project.link }}">详情 &rarr;</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>



