<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目详情</title>
</head>
<body>
    <div class="container">
        <a href="{% url 'project:project_list' %}">返回上一页</a>
        <h1>项目详情</h1>
        {% for project in projects %}
            <div class="project">
                <h2>{{ project }}</h2>
                {% if project == '环境' %}
                    <a href="{% url 'environment:list' %}">管理环境 </a>
                {% elif project == '接口管理' %}
                    <a href="{% url 'interfaces:list' %}">接口管理 </a>
                {% elif project == '接口用例' %}
                    <a href="{% url 'cases:interfaces' %}">接口用例 </a>
                {% elif project == '业务流程' %}
                    <a href="{% url 'processes:list' %}">业务流程 </a>
                {% elif project == '测试计划' %}
                    <a href="{% url 'tplans:list' %}">测试计划 </a>
                {% elif project == '定时任务' %}
                    <a href="{% url 'tasks:list' %}">定时任务 </a>
                {% elif project == '测试报告' %}
                    <a href="{% url 'reports:list' %}">测试报告 </a>
                {% endif %}
            </div>
        {% endfor %}

    </div>
</body>
</html>