<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>环境详情</title>
</head>
<body>
    <a href="{% url 'environment:list' %}">返回上一页</a>
    <div>

        <form>
            <h1>Environment_id: {{ environment_id }}</h1>
            环境名称：<input  type="text" placeholder="请输入需要修改的环境名称"/><br /><br /><!--环境名称输入且换行两次-->
            服务器域名：<input  type="text" placeholder="http://139.159.205.158:8888"/><br /><br /><!--服务器域名输入且换行两次-->
            提交按钮   <input type="submit"/><!--提交以上输入内容-->
        </form>
    </div>
</body>
</html>


