<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>环境列表</title>
<!--    {% load static %}-->
<!--    <link rel="stylesheet" href="{% static 'css/project_list.css' %}">-->
</head>
<body>
    {% for project_name in projects2 %}
    <div class="container">
        <form action="{% url 'project:project_details_list' %}" method="post" style="display:inline;"> <!-- 表单，提交查看并编辑环境的请求 -->
            {% csrf_token %} <!-- 添加CSRF令牌，防止跨站请求伪造 -->
            <input type="hidden" name="project_datails" value="{{ project_name }}"> <!-- 隐藏输入框，传递项目名称 -->
            <button type="submit">返回上一页</button> <!-- 提交按钮，查看并编辑环境 -->
         </form>

        <h1>{{ project_name }}-环境列表</h1>
        <form method="post" action="{% url 'environment:add' %}">
            {% csrf_token %}
            <input type="text" name="environment_name" style="width: 200px; margin-right: 10px;" placeholder="请输入环境名称">
            <input type="hidden" name="project_datails" value="{{ project_name }}"> <!-- 隐藏输入框，传递项目名称 -->
            <button type="submit">新增环境</button>
        </form>

        {% for project in projects %}
            <div class="project">
                <h2>{{ project.title }}</h2>
<!--                <p>{{ project.description }}</p>-->
                <form method="post" action="{% url 'environment:details' %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="project_datails" value="{{ project_name }}"> <!-- 隐藏输入框，传递项目名称 -->
                    <input type="hidden" name="environment_old_name" value="{{ project.title }}"> <!-- 隐藏输入框，传递项目名称 -->
                    <button type="submit">环境详情</button>
                </form>
                <form method="post" action="{% url 'environment:delete' %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="environment_name" value="{{ project }}"> <!-- 隐藏输入框，传递项目名称 -->
                    <input type="hidden" name="project_datails" value="{{ project_name }}"> <!-- 隐藏输入框，传递项目名称 -->
                    <button type="submit">删除</button>
                </form>
            </div>
        {% endfor %}
    {% endfor %}
    </div>
</body>
</html>


