<body x-data="{mobile: false}" data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">


    <main class="bg-dark position-relative vh-100">
      <iframe x-bind:class="{'iframe-preview-mobile': mobile}" class="iframe-preview position-absolute w-100" width="100%" src="https://majestic.bootmb.com/"></iframe>
    </main>

    <!-- JAVASCRIPT -->

<!-- Vendor JS -->
<script src="/assets/js/vendor.bundle.js"></script>

<!-- Theme JS -->
<script src="/assets/js/theme.bundle.js"></script>



</body>