<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口用例列表</title>
</head>
<body>
 {% for project_name in projects2 %}
    <div class="container">
        <form action="{% url 'project:project_details_list' %}" method="post" style="display:inline;"> <!-- 表单，提交查看并编辑接口用例的请求 -->
            {% csrf_token %} <!-- 添加CSRF令牌，防止跨站请求伪造 -->
            <input type="hidden" name="project_datails" value="{{ project_name }}"> <!-- 隐藏输入框，传递项目名称 -->
            <button type="submit">返回上一页</button> <!-- 提交按钮，查看并编辑接口用例 -->
         </form>

        <h1>{{ project_name }}-接口用例列表</h1>
        <form method="post" action="{% url 'interfaces:add' %}">
            {% csrf_token %}
            <input type="text" name="caces_name" style="width: 200px; margin-right: 10px;" placeholder="请输入接口用例名称">
            <input type="hidden" name="project_datails" value="{{ project_name }}"> <!-- 隐藏输入框，传递项目名称 -->
            <button type="submit">新增接口用例</button>
        </form>

        {% for interface_name in projects %}
            <div class="project">
<!--                <h2>{{ interface_name.title }}</h2>-->
                <h2>{{ interface_name }}</h2>
                <form method="post" action="{% url 'interfaces:details' %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="project_datails" value="{{ project_name }}"> <!-- 隐藏输入框，传递项目名称 -->
                    <input type="hidden" name="interface_old_name" value="{{ interface_name }}"> <!-- 隐藏输入框，传递项目名称 -->
                    <button type="submit">接口用例详情</button>
                </form>
                <form method="post" action="{% url 'interfaces:delete' %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="interface_name" value="{{ interface_name }}"> <!-- 隐藏输入框，传递项目名称 -->
                    <input type="hidden" name="project_datails" value="{{ project_name }}"> <!-- 隐藏输入框，传递项目名称 -->
                    <button type="submit">删除</button>
                </form>
            </div>
        {% endfor %}
    {% endfor %}
    </div>
</body>
</html>